doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Homework 9
        link(rel="stylesheet" href="/static/style.css")

    body
        div(class="header")
            h1(class="title") Week 9: Web Application Server & Programming Frameworks Introduction
            block subtitle
        div(class="left-bar")
            p
                a(href="http://162.105.146.180:8096/index.html") Back to Homepage
            p
                a(href="/") Description
            p
                a(href="/survey") Survey
            p
                a(href="/results") Results
        div(class="right-bar")
        div(class="main")
            block content
        div(class="footer")
            p(class="footer") Lei Yang, Fall 2016


