h1 
{
    margin-top: 40px;
    color: #4d4d4d;
    font-family: helvetica;
    font-size: 150%;
}

h1.title
{
    margin-left: 15px;
    margin-top: 30px;
    color: #262626;
    font-size: 200%;
}

p
{
    color: #666666;
    font-family: helvetica;
    font-weight: lighter;
    font-size: 100%;
}

li
{
    color: #666666;
    margin-bottom: 5px;
    font-family: helvetica;
    font-weight: lighter;
    font-size: 100%;
}

p.caption
{
    margin-left: 15px;
    color: #999999;
    font-size: 90%;
}

a
{
    text-decoration: none;
    font-family: helvetica;
    font-weight: lighter;
    font-size: 100%;
}

a.nav
{
    margin-left: 15px;
}

a:link
{
    color: #0099ff;
}

a:visited
{
    color: #0099ff;
}

a:hover
{
    color: #3366cc;
}

a:active
{
    color: #3366cc;
}

